<p>retrieve-customer works!</p>

<input type="text" class="form-control" id="id"
  required
  [(ngModel)]="id" />

<button type="button" class="btn btn-primary" (click)="foo()"> CLICK ME</button>

<div class="container">
    <div class="row">
      <div class="col-sm">
        Name:
      </div>
      <div class="col-sm">
        {{ name }}
      </div>
    </div>

    <div class="row">
        <div class="col-sm">
          Word:
        </div>
        <div class="col-sm">
          {{ word }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
          Age:
        </div>
        <div class="col-sm">
          {{ age }}
        </div>
    </div>
</div>

